/* 
    Created on : Mar 14, 2016, 8:24:13 AM
    Author     : Alyson
*/
body{
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand{
    font-family: 'Cinzel Decorative', serif;
    font-size:2.4em;
}
